module.exports = {
    server: 'irc.freenode.net',
    nick: 'ZenIRCBot',
    options: {
	userName: 'zenircbot',
	realName: 'ZenIRCBot',
	port: 6667,
	debug: false,
	showErrors: false,
	autoRejoin: true,
	autoConnect: true,
	channels: ['#pdxbots'],
	secure: false,
	selfSigned: false,
	floodProtection: true,
	stripColors: false,
    },
};
